#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html{
  scrollbar-color: #495670;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

.sep{
  height: 10vh;
}

/* NAVBAR */


nav{
  display: flex;
  position: fixed;
  z-index: 5;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 50px;
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;;
}

.nav-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-a{
  font-size: 13px;
  padding: 14px;
  text-decoration: none;
  color: #ccd6f6;
}

.nav-a:hover{
  color: #64ffda;
}

.nav-btn{
  border: 1px solid #64ffda;
  border-radius: 5px;
  color: #64ffda;
  padding: 0.7rem 1rem;
  background: none;
  transition: all .25s ease;
  cursor: pointer;
}



/* HOME */

.home{
  min-height:70vh;
  overflow-y: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}

.home-content{
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.sub-sub-title{
  color: #64ffda;
  margin-bottom: 1rem;
}

.sub-title{
  color: #a8b2d1;
  margin-bottom: 1rem;
  font-size: clamp(40px, 8vw, 80px);
}

.title{
  color: #ccd6f6;
  font-size: clamp(40px, 8vw, 80px);
}

.home-txt{
  margin-bottom: 2rem;
  color: #8892b0;
  font-size: 20px;
}

.home-btn{
  border: 1px solid #64ffda;
  border-radius: 5px;
  color: #64ffda;
  padding: 1rem;
  background: none;
  transition: all .25s ease;
  cursor: pointer;
}

.home-btn-a{
  text-decoration:none;
  color: #64ffda;
  transition: all .25s ease;
}

.home-btn:hover .home-btn-a{
  color: #0a192f;
}

.home-btn:hover, .nav-btn:hover{
  background-color: #64ffda;
  color: #0a192f;
}



/* ABOUT */

.div-content{
  margin: 0px auto;
  max-width: 900px;
}

.section-sub{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,32px);
  white-space: nowrap;
}

.section-sub::after{
  content: "";
  display: block;
  position: relative;
  top: 5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

.section-sub::before{
  bottom: 4px;
  counter-increment: section 1;
  margin-right: 10px;
  color: #64ffda;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.about-rest{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  align-items: center;
}

.about-img{
  width: 370px;
  height: 340px;
  border-radius: 5px;
}

.about-txt-section{
  text-align: start;
  margin-bottom: 1rem;
  color: #ccd6f6;
}

.tech-ul{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  position: relative;
}


.tech-list::before{
  position: absolute;
  left: 0px;
  font-size: 14px;
  color: #64ffda;
  content: "~";
}

.section-sub-2{
  text-align: left;
}

.tech-box{
  display: flex;
  justify-content: center;
}

.tech{
  text-align: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin: 3rem 1.5rem 3rem 1rem;
}

.tech-img:hover{
  transform: scale(1.2);
}

.tech-img{
  width: 100px;
  height: 100px;
  transition: all .3s;
}

.tech-txt{
  text-align: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
  transition: all .3s;
}


/* PROJECTS */

/* .main-projects {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 0;
  margin: 4rem 0;
  grid-auto-flow: row;
  grid-template-areas:
    "left-side-1 right-side-1"
    "left-side-2 right-side-2"
    "left-side-3 right-side-3";
} */

.main-projects{
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.project-1, .project-2, .project-3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.left-side-1, .left-side-2, .left-side-3, .right-side-1, .right-side-2, .right-side-3 { 
  width: 50%;
  margin-bottom: 2rem;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.left-side-2 { 
  position: relative;
  background-color: #233554;
  padding: 1rem 2rem;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}


.right-side-1 {  
  position: relative;
  background-color: #233554;
  padding: 1rem 2rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}


.right-side-3 { 
  position: relative;
  background-color: #233554;
  padding: 1rem 2rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.right-side-1, .left-side-2, .right-side-3{
  visibility: hidden;
  opacity: 0;
}

.project-1:hover .right-side-1, .project-2:hover .left-side-2, .project-3:hover .right-side-3{
  visibility: visible;
  opacity: 1;
}


.main-project-header{
  font-size: 20px;
  color: #ccd6f6;
  margin-bottom: 1rem;
}

.main-project-txt{
  text-align: start;
  color: #a8b2d1;
  word-wrap: break-word;
  width: 220px;
  margin-bottom: 3rem;
}

.main-project-img{
  width: 100%;
  height: 100%;
}


.main-project-tech{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: #a8b2d1;
  padding-bottom: 1rem;
  bottom: 1rem;
  position: absolute;
  transition: all 0.25s ease;
}





.rest-projects{
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  position: relative;
}

.rest-projects a{
  text-decoration: none;
}

.rest-project-box{
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: 5px;
  background-color: #112240;
  transition: all .25s ease;;
  overflow: auto;
}

.rest-project-box:hover{
  transform: translateY(-10px);
}

.rest-project-box:hover .rest-project-title{
  color: #64ffda;
}

.rest-project-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.rest-project-header p svg{
  width: 30px;
  height: 30px;
  color: #64ffda;
}

.rest-links{
  display: flex;
  width: 26%;
  justify-content: space-between;
  transition: all .25s ease;;
}

.rest-project-title{
  font-size: 22px;
  margin-bottom: 15px;
  color: #ccd6f6;
  text-align: left;
  transition: all .25s ease;;
}

.rest-project-desc{
  text-align: start;
  color: #a8b2d1;
  word-wrap: break-word;
  width: 220px;
  margin-bottom: 3rem;
}

.rest-project-tech{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: #a8b2d1;
  padding-bottom: 1rem;
  bottom: 1rem;
  position: absolute;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.rest-links a{
  text-decoration: none;
  color: #ccd6f6;
}

.rest-links a:hover{
  color: #64ffda;
}

.rest-links a svg{
  width: 25px;
  height: 25px;
}




/* CONTACT */

.contact-rest{
  height: 100vh;
}

.contact-top{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-top-icon{
  color: #ccd6f6;
  width: 70px;
  height: 70px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.contact-top-icon:hover{
  color: #64ffda;
}

.contact-bottom-title{
  margin-bottom: 2rem;
  font-size: 20px;
  color: #ccd6f6;
}

.contact-bottom-ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contact-link{
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.contact-icon{
  color: #ccd6f6;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.contact-txt{
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  color: #0a192f;
}

.contact-link:hover .contact-txt, .contact-link:hover .contact-icon{
  color: #64ffda;
}