*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #0a192f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media only screen and (max-width:1500px){
  .home{
    margin-top: 0;
  }
}

@media only screen and (max-width:489px){

  #root{
    padding: 0;
  }

  .main-container{
    padding: 0 2rem 2rem 2rem;
  }

  nav{
    display: none;
  }

  .navb{
    display: flex;
    padding: 0px 0px;
    background-color: #0a192f;
  }
  
  .nav-content{
    flex-direction: column;
    padding: 1rem;
  }

  .nav-btn{
    margin-top: 1rem;
  }

  .home{
    margin-bottom: 3rem;
    min-height: 79vh;
    justify-content: center;
  }

  .home-content{
    align-items: center;
  }

  h1{
    font-size: 2.4em;
  }

  .sub-title{
    font-size: 2em;
  }

  .about-rest{
    display: flex;
    flex-direction: column;
  }

  .about-img{
    width: 327px;
    height: 290px;
  }

  .tech-box{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    align-items: center;
  }

  .sep{
    height: 2vh;
  }

  .project-1, .project-2, .project-3{
    flex-direction: column;
  }

  .right-side-1, .left-side-2, .right-side-3{
    visibility: visible;
    opacity: 1;
  }

  .main-project-txt{
    word-wrap: normal;
    width: auto;
  }

  .project-2{
    flex-direction: column-reverse;
  }

  .left-side-1, .left-side-2, .left-side-3, .right-side-1, .right-side-2, .right-side-3 { 
    width: 100%;
    margin-bottom: 2rem;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  }

  .left-side-1, .left-side-3, .right-side-2{
    height: 250px;
  }

  .main-project-header{
    font-size: 22px;
  }

  .main-project-header h1{
    font-size: 22px;
  }

  .nav-content{
    background-color: #0a192f;
  }
}


@media only screen and (max-width:360px){

}